<BsModal
  @open={{true}}
  @onHidden={{this.onClose}}
  as |modal|
>
  <modal.header>
    <h4 class="modal-title">New Item</h4>
  </modal.header>

  <modal.body>
    <BsForm @formLayout="vertical" @model={{this}} @onSubmit={{perform this.onSubmit}} as |form|>
      <form.element @controlType="power-select" @label="Content Type" @property="contentType" @options={{this.contentTypeOptions}} as |el|>
        <el.control @renderInPlace={{true}} as |option|>
          {{capitalize option}}
        </el.control>
      </form.element>

      {{#if (eq this.contentType "text")}}
        <form.element @controlType="text" @label="Content" @property="content" />
      {{else if (eq this.contentType "link")}}
        <form.element @controlType="text" @label="Url" @property="content" />
      {{else if (eq this.contentType "file")}}
        <form.element>
          <FileUpload @name="content"
            @accept="image/*"
            @onfileadd={{this.onUploadFile}}
          >
            <a class="btn btn-dark">
                Upload file
            </a>
            {{#if this.content.blob}}
              {{this.content.name}}
            {{/if}}
          </FileUpload>
        </form.element>

      {{/if}}

      <form.submitButton>Create Item</form.submitButton>
    </BsForm>
  </modal.body>
</BsModal>
