<div class="col-12 py-4">
  <div class="row">
    <h3 class="d-inline mr-auto">Tags</h3>
    <div>
      <BsForm @formLayout="inline" @model={{this}} @onSubmit={{perform this.onNewTag}} as |form|>
        <form.element @controlType="text" @property="newTagName" @required={{true}} as |el|>
          <el.control placeholder="New Tag Name" class="mr-2" />
        </form.element>
        <form.submitButton>Create Tag</form.submitButton>
      </BsForm>
    </div>
  </div>


  {{#each @model.tags as |tag|}}
    <div>{{tag.name}}</div>
  {{/each}}
</div>

{{outlet}}
